<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput ngModel name="title" type="text" placeholder="Ex. Fruits..." required #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Content</mat-label>
      <textarea rows="4" matInput ngModel name="content" placeholder="Ex. Mango,Banana,Apple..." required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a content.</mat-error>
    </mat-form-field>
    <button mat-stroked-button color="primary" type="submit">
      Save
    </button>
  </form>
</mat-card>


